<!-- ################################### -->
<!-- #####                         ##### -->
<!-- ##### DESIGN & CODE:          ##### -->
<!-- #####                         ##### -->
<!-- ##### VORM & VORM             ##### -->
<!-- ##### www.vormenvorm.nl       ##### -->
<!-- #####                         ##### -->
<!-- ##### Copyright {{now|date('Y')}}          ##### -->
<!-- #####                         ##### -->
<!-- ################################### -->

<!DOCTYPE html lang="nl">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js {% if entry is defined %}type-{{entry.type}}{% else %}{% endif %}"> <!--<![endif]-->    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="icon" href="{% if bedrijfsgegevens.favicon|length %}{% set favicon = bedrijfsgegevens.favicon.one().getUrl%}{{favicon}}{%endif%}" type="image/x-icon"/>

		<title>{% if entry is defined %} {%if entry.paginaTitel %} {{ entry.paginaTitel }} {%else%} {{ entry.title }} - {{ siteName }} {% endif %}{%else%} Error 404 - {{siteName}}{% endif %}</title>
		<meta name="description" content="{% if entry is defined %}{%if entry.metaBeschrijving %}{{ entry.metaBeschrijving }}{%else %} {{ entry.title }} - {{ siteName }}{% endif %}{% endif %}"> 
       
		<!--Social Share-->
		<meta property="og:type" content="website"/>
		<meta property="og:title" content="{{ entry.title }} - {{ siteName }}"/>
		<meta property="og:description " content="{{entry.metaBeschrijving}}"/>
		<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}"/>
		<meta property="og:image" content=""/>
        
        <!-- Fonts -->
		<link rel="stylesheet" href="https://use.typekit.net/rvo1ggg.css">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
		<link rel="stylesheet" href="{{ siteUrl }}lib/assets/slick/slick.css" />
		<link rel="stylesheet" href="{{ siteUrl }}lib/assets/spotlight/spotlight.css" />
        <link rel="stylesheet" href="{{ siteUrl }}lib/css/main.min.css" />
        <link rel="stylesheet" href="{{ siteUrl }}lib/css/style.min.css" />
        <!-- Google Analytics -->

    </head>
    <body class="{% if entry is defined %}page-{{entry.id}} type-{{entry.type}} {{entry.slug}} {% else %}error404{% endif %} {{ currentSite.name }}">

		<!--[if IE]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->
		
        {%if bedrijfsgegevens.logo|length > 0 %} {% set logo = bedrijfsgegevens.logo.one().getUrl %} {%endif%}
        {%if bedrijfsgegevens.altLogo|length > 0 %} {% set altlogo = bedrijfsgegevens.altLogo.one().getUrl %} {%endif%}
        {% set adres = bedrijfsgegevens.adres %}
        {% set email = bedrijfsgegevens.mailAdres %}
        {% set telefoon = bedrijfsgegevens.telefoon %}
        {% set mobiel = bedrijfsgegevens.mobielNummer %}
        {% set kvk = bedrijfsgegevens.kvkNummer %}
        {% set btw = bedrijfsgegevens.btwNummer %}
        {% set iban = bedrijfsgegevens.iban %}

		{% block body %}
		{% endblock %}

        <!-- jQuery first then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="{{ siteUrl }}lib/assets/spotlight/spotlight.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		<script src="{{ siteUrl }}lib/assets/slick/slick.js" async defer></script>
		
		<script src="{{ siteUrl }}lib/js/animaties.js" async defer></script>
        <script src="{{ siteUrl }}lib/js/sliders.js" async defer></script>
        <script src="{{ siteUrl }}lib/js/scripts.js" async defer></script>

    </body>
</html>